html {
    overflow-x: hidden;
}

.inicio {
    background-image: url("img/fondoInicio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.appleToggle {
    display: none;
}

.appleBarra {
    margin-right: 15px;
}

.txtNav {
    font-weight: 500;
}

h1 {
    color: white;
    text-align: center;
    font-size: 7rem;
    margin-top: 1rem;
}

.pInicio {
    color: white;
    text-align: center;
    font-size: 175%;
    position: absolute;
    bottom: 0;
}

h2 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 25px;
}

.caracs {
    justify-content: space-between;
}

p, h4 {
    justify-content: space-around;
    text-align: center;
}

.beneficios {
    justify-content: space-around;
}

.ben {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benREST {
    display: none;
}

#compra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    border-radius: 50px;
}

#pagcon {
    background-color: black;
    color: white; 
    font-size: 125%;
    text-align: center;
}

#email, #nombre{
    height: 25px;
    margin: 12px;
}

#pagcon textarea {
    margin: 17px;
    resize: none;
}

#submit {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #086bff;
    color: white;
}

@media (max-width: 1199px) {
    .benREST {
        display: block;
    }

    .benXL {
        display: none;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 10rem;
    }

    .appleBarra {
        display: none;
    }

    .appleToggle {
        display: block;
    }
}